:root {
  --clr-black: #000000;
  --clr-white: #FCFEFB;
  --clr-fore: #08ddfd;
  --clr-gray: #454545;
  --clr-light-gray: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
  background: var(--clr-white);
}

a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p {
  color: var(--clr-black);
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}

.section-title {
  font-size: 4rem;
  font-weight: 300;
  color: var(--clr-black);
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}

.section-title span {
  color: var(--clr-fore);
}

.cta {
  display: inline-block;
  padding: 10px 30px;
  border: 2px solid var(--clr-fore);
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  transition: 0.3s ease background-color, color;
  color: var(--clr-fore);
  background-color: transparent;
  border-radius: 5px;
  position: relative;
  z-index: 10; /* Ensure it's above other elements */
}

.cta:hover {
  color: var(--clr-white);
  background-color: var(--clr-fore);
  border: 2px solid var(--clr-white);
  outline: 1px solid var(--clr-fore);
}

.brand h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--clr-fore);
}

.brand h1 span {
  color: var(--clr-fore);
}

#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
  background: var(--clr-black);
  box-shadow: 0px 2px 10px 0 #0000002c;
}

#header .header .container {
  background: var(--clr-black);
}

#header .header {
  min-height: 8vh;
}

#header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
  background: var(--clr-black);
}

#header .hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  margin-right: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(0.8);
}

#header .hamburger:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
}

#header .hamburger .bar {
  background: var(--clr-white);
  height: 2px;
  width: 30px;
  position: relative;
  z-index: -1;
}

#header .hamburger .bar::before,
#header .hamburger .bar::after {
  content: "";
  background-color: var(--clr-white);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  transition: 0.3s ease top, bottom;
}

#header .hamburger .bar::after {
  top: 8px;
}

#header .hamburger .bar::before {
  bottom: 8px;
}

#header .hamburger.active .bar::before {
  bottom: 0;
}

#header .hamburger.active .bar::after {
  top: 0;
}

#header .nav-list ul {
  list-style-type: none;
  background: var(--clr-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 100%;
  top: 0;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.3s ease left;
}

#header .nav-list ul.active {
  left: 0;
}

#header .nav-list ul a {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: var(--clr-fore);
  background: var(--clr-black);
  text-transform: uppercase;
  display: block;
  padding: 20px;
}

#header .nav-list ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: var(--clr-white);
  font-size: 13rem;
  letter-spacing: 50px;
  z-index: -1;
  transition: 0.3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}

#header .nav-list ul li:hover a {
  color: var(--clr-fore);
}

@media screen and (min-width: 1200px) {
  #header .hamburger {
    display: none;
  }

  #header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }

  #header .nav-list ul li {
    display: inline-block;
    margin-left: 20px;
  }

  #header .nav-list ul a {
    font-size: 1.2rem;
  }

  #header .nav-list ul a::after {
    display: none;
  }
}
.logo {
  display: inline-block;
  border-bottom: 1px solid var(--clr-gray);
  outline: 1px solid var(--clr-white);
  border-radius: 5%;
}

#hero {
  background: url('./images/hero.jpg') no-repeat center;
  background-size: cover;
  background-position: top center;
  min-height: 80vh;
  position: relative;
  z-index: 0;
}

#hero::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
  pointer-events: none; /* Allow interaction with elements above */
}

#hero .hero {
  max-width: 1200px;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 0 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  z-index: 1;
}

#hero h1 {
  display: block;
  width: fit-content;
  font-size: 4rem;
  position: relative;
  color: var(--clr-fore);
  text-shadow: 0px 1px 5px var(--clr-white);
}

.hero-content {
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1;
  padding: 20px;
}

/* Falling Letters Background */
#falling-letters {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  overflow: hidden;
  pointer-events: none;
}

/* Falling Letters */
.falling-letter {
  position: absolute;
  font-size: 1.5em;
  color: #f8f5f4;
  animation: fall linear infinite;
}

@keyframes fall {
  from {
    transform: translateY(-100%);
    opacity: 1;
  }
  to {
    transform: translateY(100vh);
    opacity: 0;
  }
}

#languages .languages {
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0;
}

#languages .language-bottom .icon {
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}

#languages .language-item h2 {
  font-size: 2rem;
  color: var(--clr-white);
  margin-bottom: 10px;
  text-transform: uppercase;
}

#languages .language-top {
  max-width: 500px;
  margin: 0 auto;
}

#languages .language-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

#languages .language-item {
  flex-basis: 80%;
  display: flex;
  align-items: center; 
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  margin: 10px 5%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 0.3s ease box-shadow;
}

@media only screen and (min-width: 768px) {
  #languages .language-bottom .language-item {
    flex-basis: 45%;
    margin: 2.5%;
  }
}

@media only screen and (min-width: 1200px) {
  #languages .language-bottom .language-item {
    flex-basis: 22%;
    margin: 1.5%;
  }
}

#projects .projects {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}

#projects .projects-header h1 {
  margin-bottom: 50px;
}

#projects .all-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#projects .project-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
  background-color: var(--clr-light-gray);
  transition: 0.3s ease box-shadow;
  position: relative;
}

#projects .project-info {
  padding: 30px;
  flex-basis: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background: var(--clr-white);
  color: var(--clr-black);
}

#projects .project-info h2 {
  font-size: 2.8rem;
  font-weight: 500;
  margin-top: 10px;
}

#projects .project-info p {
  color: var(--clr-black);
}

#projects .project-img {
  flex-basis: 50%;
  height: 300px;
  overflow: hidden;
  position: relative;
}

#projects .project-img img {
  width: 100%;
  height: auto;
  display: block; /* Prevent image from overflowing container */
}

 #projects .project-img:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: var(--clr-black);
  opacity: 0.5;
} 

 #projects .project-img img {
  transition: 0.3s ease transform;
}

#projects .project-item:hover .project-img img {
  transform: scale(1.1);
}

@media only screen and (min-width: 768px) {
  #projects .project-item {
    flex-direction: row;
  }
  #projects .project-item:nth-child(even) {
    flex-direction: row-reverse;
  }
  #projects .project-item {
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }

  #projects .all-projects .project-info {
    height: 100%;
  }

  #projects .all-projects .project-img {
    height: 100%;
  }
}

#about .about {
  flex-direction: column-reverse;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}

#about .col-left {
  width: 250px;
  height: 360px;
}

#about .col-right {
  width: 100%;
}

#about .col-right h2 {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  margin-bottom: 10px;
}

#about .col-right p {
  margin-bottom: 20px;
}

#about .col-right .cta {
  margin-bottom: 50px;
  color: var(--clr-black);
  padding: 10px 20px;
  font-size: 2rem;
}

#about .col-left .about-img {
  height: 100%;
  width: 100%;
  position: relative;
  border: 10px solid var(--clr-white);
}

@media screen and (min-width: 768px) {
  #about .about {
    flex-direction: row;
  }

  #about .col-left {
    width: 600px;
    height: 400px;
    padding-left: 60px;
  }

  #about .about .col-left .about-img::after {
    left: -45px;
    top: 34px;
    height: 98%;
    width: 98%;
    border: 10px solid var(--clr-fore);
  }

  #about .col-right {
    text-align: left;
    padding: 30px;
  }

  #about .col-right h1 {
    text-align: left;
  }
}

#contact .contact {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}
#contact .contact-items {
  width: 100%;
}
#contact .contact-item {
  width: 80%;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  padding: 30px;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 18px 0 #0000002c;
  transition: 0.3s ease box-shadow;
}
#contact .contact-item:hover {
  box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
  width: 70px;
  margin: 0 auto;
  margin-bottom: 10px;
}
#contact .contact-info h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 5px;
}
#contact .contact-info h2 {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 500;
}

@media only screen and (min-width: 768px) {
  #contact .contact {
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    min-width: 20vh;
  }
  #contact .contact-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
  }
  #contact .contact-item {
    width: 30%;
    margin: 0;
    flex-direction: row;
  }
  #contact .contact-item .icon {
    height: 100px;
    width: 100px;
  }
  #contact .contact-item .icon img {
    object-fit: contain;
  }
  #contact .contact-item .contact-info {
    width: 100%;
    text-align: left;
    padding-left: 20px;
  }
}

#footer {
  background: var(--clr-black);
  padding-bottom: 5rem;
}
#footer .footer {
  min-height: 200px;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 10px;
}
#footer h2 {
  color: var(--clr-white);
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
#footer .social-icon {
  display: flex;
  margin-bottom: 30px;
}
#footer .social-item {
  height: 50px;
  width: 50px;
  margin: 0 5px;
  border-radius: 50%;
}
#footer .social-item img {
  border-radius: 50%;
  filter: grayscale(1);
  transition: 0.3s ease filter;
}
#footer .social-item:hover img {
  filter: grayscale(0);
}
#footer p {
  color: var(--clr-white);
  font-size: 1.3rem;
}

/* Blog section */
#blog {
  margin-bottom: 2rem;
}
#blog .blog {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
  text-align: center;
  position: relative;
}

#blog .blog-content h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

#blog .blog-content p {
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.blog-image img {
  border: 1px solid var(--clr-gray);
  border-radius: 5px;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

@media only screen and (min-width: 768px) {
  #blog .blog-content {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 100px 80px;
  }
}

.link {
  font-size: larger;
  color: var(--clr-fore);
}
